header a[href]:hover {
    color: darkblue;
    font-weight: bold;
}

header a[href]:active {
    color: red;
}

header a[href]:focus {
    background-color: lightgray;
}

header a[href]:visited {
    color: lime;
}

.additional-menu li:first-child {
    font-size: 1.2rem;
    color: green;
}

.additional-menu li:last-child {
    font-size: 80%;
    color: orange;
}

.main-list {
    font-size: 18px;
}

.main-list li:nth-child(3n + 5){
    opacity: 0;
}

.main-list li:nth-child(-n + 2){
    color: yellow;
}

.main-list li:nth-child(6){
    font-size: 10px;
}

.main-list li:nth-last-child(-n + 3){
    font-style: italic;
}

h2:first-of-type {
    text-decoration: overline;
}

article section:last-of-type {
    border: 4px solid black;
}

/* * :nth-of-type(odd) {
    border: 1px solid black;
} */

.types-selection :nth-last-of-type(n + 3):nth-last-of-type(-n + 4) {
    font-size: 10px;
}

.links-block a:not([target]):hover {
    background-color: chocolate;
}

.footer p:not(:empty) {
    background-color: crimson;
    width: 100px;
    height: 100px;
}

input:valid {
    border: 5px solid green;
}

input:invalid {
    border: 5px solid red;
}

/* input:empty:valid {
    border: none;
} */

.copyright:before {
    content: 'all';
    color: red;
}

.copyright:after {
    content: 'reserved';
    background-color: red;
    width: 100px;
    height: 1px;
}

p:first-letter {
    font-size: 5rem;
    color: indianred;
}

p:first-letter:before {
    content: 'all';
    font-size: 5rem;
    color: indianred;
}