* {
    border: none !important;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.navigation-list {
    font-size: 18px;
    text-decoration: none;
}

.semi-visible {
    opacity: 1;
}

.footer p {
    font-weight: 200;
}

#invisible {
    opacity: 1;
}