.footer__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: #555555;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 16px;

}

.footer__p {
    line-height: 22px;
    margin-right: 24px;
    margin-top: 15px;
    margin-bottom: 16px;
}

.footer__address {
    width: 148px;
    height: 22px;
    line-height: 22px;
    margin-left: 24px;
    margin-top: 21px;
    margin-bottom: 21px;
}

@media (max-width: 768px) {
    .footer__flex-container {
        height: 48px;
        font-size: 12px;
    }
}