* {
    box-sizing: border-box;
}

.header__flex-container {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    width: 100%;
}

.header__animation-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 48px rgba(255, 255, 255, 0.85);
    animation-name: animation-h1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes animation-h1 {
    from {
        color: #FFFFFF;
        text-shadow: 0px 0px 48px rgba(255, 255, 255, 0.85);
    }

    50% {
        font-size: 120%;
        color: #FAF7BA;
        text-shadow: 0px 0px 64px rgba(210, 214, 30, 0.85);
    }

    to {
        color: #FFFFFF;
        text-shadow: 0px 0px 48px rgba(255, 255, 255, 0.85);
    }
}

.header__flex-container,
.body {
    margin: 0;
}

.header__menu,
.header__drop-down-menu,
.header__menu--small {
    display: flex;
    margin: 0;
    padding: 0;   
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.87);
}

.header__drop-down-menu {
    display: none;
    position: absolute;
    width: 25%;
    height: 142px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.header__flex-item-1,
.header__flex-item-2,
.header__flex-item-3,
.header__flex-item-4,
.header__drop-down-menu-item {
    list-style: none;
    display: block;
    width: 25%;
}

.header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    color: #ffffff; 
    text-decoration: none; 
}

.header__drop-down-menu-item {
    float: none;
    display: list-item;
    position: relative;
    width: 100%;
    height: 36px;
    cursor: pointer;
    padding-left: 24px;
}

.header__triangle {
    border: 6px solid transparent;
    border-top: 6px solid white;
    margin-top: 12px;
    margin-left: 7px;
}

.header__flex-item-3:hover 
.header__triangle {
    border: 6px solid transparent;
    border-top: 6px solid black;
}

@media (min-width: 1024px) {
    .header__flex-container {
        height: 747px;
        font-size: 96px;
    }

    .header__menu--small {
        display: none;
    }

    .header__animation-text {
        height: 683px;
        font-size: 96px;
    }

    .header__link:hover {
        background-color: rgba(209, 209, 209, 0.8);
        color: black;
    }
    
    .header__link:active {
        background-color: rgba(248, 248, 248, 0.8);
        color: black;
        text-decoration: underline;
    }
    
    .header__link:nth-child(3):hover {
        background-color: #D1D1D1;
        color: black;
    } 
    
    .header__flex-item-3:hover 
    .header__drop-down-menu {
        display: inline-block;
        background-color: #F2F2F2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #000000;
    }
    
    .header__flex-item-3:hover 
    .header__drop-down-menu-item:hover{
        background-color: #D1D1D1;

    }
    
    .header__flex-item-3:active 
    .header__drop-down-menu-item:active {
        background-color: #717171;
        color: white;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header__flex-container {
        height: 600px;
        font-size: 64px;
    }

    .header__menu--small {
        display: none;
    }

    .header__animation-text {
        height: 536px;
        font-size: 64px;
    }

    .header__link:hover {
        background-color: rgba(209, 209, 209, 0.8);
        color: black;
    }
    
    .header__link:active {
        background-color: rgba(248, 248, 248, 0.8);
        color: black;
        text-decoration: underline;
    }
    
    .header__link:nth-child(3):hover {
        background-color: #D1D1D1;
        color: black;
    } 
    
    .header__flex-item-3:hover 
    .header__drop-down-menu {
        display: inline-block;
        background-color: #F2F2F2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #000000;
    }
    
    .header__flex-item-3:hover 
    .header__drop-down-menu-item:hover{
        display: block;
        background-color: #D1D1D1;
        width: 100%;
    }
    
    .header__flex-item-3:active 
    .header__drop-down-menu-item:active {
        display: block;
        background-color: #717171;
        color: white;
    }
}

@media (max-width: 768px) {
    .header__flex-container {
        height: 464px;
        font-size: 36px;
    }

    .header__menu--small {
        display: block;
        height: 48px;
        padding: 12px 16px;
        background-color: rgba(0, 0, 0, 0.87);
        position: absolute;
        right: 0;
        top: 0;
        list-style-type: none;
    }

    .header__line--small {
        height: 1px;
        width: 24px;
        background-color: white;
        margin-top: 6px;
    }

    .header__animation-text {
        height: 400px;
        font-size: 36px;
    }

    .header__link {
        color: rgba(0, 0, 0, 0);
        height: 48px;
    }

    .header__triangle {
        opacity: 0;
    }

    .header__flex-item-1,
    .header__flex-item-2,
    .header__flex-item-3,
    .header__flex-item-4 {
        opacity: 1;
    }
}


