* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    height: 4rem;
    background-color: #4d636f;
    color: #ffffff;
}

.header__links {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex: 1 1 25%;
    height: 100%;
    cursor: pointer;
}

.header__link:hover {
    background-color: #3a4b53;
}

.header__close-icon {
    display: none;
    margin-bottom: 5rem;
    width: 100%;
    text-align: right;
    padding: 1.5rem;
    font-size: 1.75rem;
    cursor: pointer;
}

.header__menu-icon {
    display: none;
    margin: auto 1rem auto auto;
    font-size: 1.75rem;
    line-height: 1;
    padding: .25rem;
    cursor: pointer;
}

.main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.article {
    position: relative;
    background-color: red;
    width: 480px;
    height: 260px;
    margin: 0 auto;
    color: white;
    padding: 2rem;
    cursor: pointer;
}

.article span {
    position: absolute;
    left: .25rem;
    top: .25rem;
}

.section {
    position: relative;
    background-color: blue;
    width: 100%;
    height: 100%;
    padding: 2rem;
    cursor: pointer;
}

.block {
    background-color: green;
    width: 100%;
    height: 100%;
    padding: .25rem;
    cursor: pointer;
}

.habr-link {
    margin: 3rem;
}

.message-form {
    margin: 0 3rem 5rem;
    width: 400px;
    padding: 2rem;
    border: 1px solid #cccccc;
    border-radius: .25rem;
}

.message-form li + li {
    margin-top: 1em;
}

.form-label {
    display: block;
}

.form-field {
    width: 100%;
    border: 1px solid #999;
}

.form-field--success {
    border: 2px solid rgba(0, 255, 0, .6);
}

.form-field--error {
    border: 2px solid rgba(255, 0, 0, .6);
}

.form-field--textarea {
    height: 5rem;
    resize: none;
}

@media (max-width: 768px) {
    .header__links {
        position: absolute;
        right: 0;
        background-color: blue;
        flex-direction: column;
        width: 100%;
        transform: translateY(-100%);
        will-change: transform;
        z-index: 2;
        transition-duration: 1s;
    }

    .header__links--active {
        transform: translateY(0);
        box-shadow: 0 -11px 14px 8px rgba(0, 0, 0, .4);
    }

    .header__link {
        flex: 0 1 auto;
        width: 100%;
        height: auto;
    }

    .header__menu-icon,
    .header__close-icon {
        display: block;
    }
}
