@font-face {
    font-family: 'Poller One';
    src: url(../PollerOne-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Tenor Sans';
    src: url(../SourceSansPro-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../TenorSans-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Roboto';
    src: url(../Roboto-Thin.ttf) format(truetype);
}