:root {
    --dark-orange: rgb(192,127,5);
    --px200: 200px;
}

header {
    width: 400px;
    height: 200px;
    color: var(--dark-orange);
    border: 1px solid black;
}

header ul {
    border: inherit;
}

header ul {
    border: 2px solid orange;
}

.fixed-size {
    height: 200px;
    width: 400px;
    border: 2px solid orange;
}

.bigger-text {
    font-size: 14px;
}

p.bigger-text span{
    font-size: 1em;
}

mark {
    font-size: 1rem;
}

html {
    font-size: 12px;
}

.advert-block {
    width: 22em;
    height: 15em;
    font-size: 1rem;
    background-color: red;
    border: 1px solid gray;
}

aside + p {
    width: 10%;
    height: 30%;
    font-size: 40%;
    border: 3px solid red ;
}

.viewport-sizes {
    width: 20vw;
    height: 40vh;
    border: 2px solid red;
    color: rgba(255, 0, 0, 0.5);
}

div.viewport-sizes {
    font-size: 2vmax;
    color: transparent;
}

article {
    opacity: 0.9;
    color: rgb(255,00);
}

footer {
    width: 50vw;
    border: 2px solid red;
}

address {
    width: calc(10% + 100px);
    border: inherit;
}

@media print {
    .viewport-sizes {
        color: yellowgreen;
        background-color: red;
    }
}

